@import '../../../../../../libs/shared/ui/scss/variable';

.song-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button {
  background: 0 0;
  border: none;
  cursor: pointer;
}

.player-current-song-info {
  img {
    max-width: 60px;
    border-radius: 2px;
  }
}

.player-volume {
  color: mat-color($mat-grey, 500);
  &.link-active {
    color: $primary;
  }
}
