<h3 class="title">Currently Playing</h3>
<div *ngIf="dataSource$ | async as ds">
  <mat-table *ngIf="ds.length > 0" [dataSource]="ds" class="mat-elevation-z8">
    <!-- Play Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let i = index"
        ><iresa-portal-sound-bars
          *ngIf="(position$ | async) === i"
        ></iresa-portal-sound-bars
      ></mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- Artists Column -->
    <ng-container matColumnDef="artists">
      <mat-header-cell *matHeaderCellDef> Artists </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.artists | loadArtistGroup }}
      </mat-cell>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration_ms">
      <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.duration_ms | songTime }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <p *ngIf="ds.length === 0">Queue is empty</p>
</div>
