<!--a [href]="authURL">Connect to Spotify</a-->

<div class="login-container">
  <mat-card class="login-card">
    <mat-card-content>
      <mat-tab-group [selectedIndex]="selectedIdx$ | async" class="hidden-tabs">
        <mat-tab label="First">
          <ng-template matTabContent>
            <iresa-portal-login-form
              (loginSuccess)="onLoginSuccess($event)"
            ></iresa-portal-login-form>
          </ng-template>
        </mat-tab>
        <mat-tab label="Second">
          <ng-template matTabContent>
            <iresa-portal-station-list></iresa-portal-station-list>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
