.text-input-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border: 1px solid #a9a9a9;
  border-radius: 3px;
  height: 50px;
}

.search-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
}

.search-icon {
  margin-right: 14px;
}

input[type='text'].text-input {
  border: none;
  width: 100%;
  font-size: 16px;
  background-color: white;
  &.mat-input-element {
    margin-top: 0;
  }

  &:focus {
    outline-width: 0;
  }
}

.mat-option {
  height: 50px;
  line-height: 20px;
}
