.container {
  cursor: pointer;
}

.playlist {
  max-width: 150px;
  text-align: left;
  margin-bottom: 20px; /* same as fxLayoutGap for even distribution */

  img {
    height: 150px;
    object-fit: contain;
  }
}
