.container {
  cursor: pointer;
}

.album {
  max-width: 150px;
  text-align: left;
  margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
}

.album img {
  height: 150px;
  object-fit: contain;
}
