@import '~@angular/material/theming';

@mixin iresa-album-track-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  iresa-portal-album-track-list {
    .song-list {
      .song-item {
        &.highlight {
          background-color: mat-color($mat-indigo, 200) !important;
          color: white !important;

          .mat-icon {
            color: white !important;

            &:hover {
              color: mat-color($primary) !important;
            }
          }
        }

        .mat-icon {
          color: mat-color($mat-grey, 500);

          &:hover {
            color: mat-color($primary);
          }
        }
      }
    }
  }
}
