<mat-card *ngIf="albumTracks$ | async as album">
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="25px"
    class="header"
  >
    <div class="header-image">
      <img [src]="album.images | loadImage" alt="{{ album.name }}" />
    </div>
    <div class="header-info">
      <h3 class="title">{{ album.name }}</h3>
      <small>{{ album.artists | loadArtists }}</small>

      <button
        *ngIf="album.type === 'playlist'"
        mat-mini-fab
        class="save-playlist-link"
        title="Save this playlist"
        (click)="savePlaylist(album)"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>

  <div class="song-list">
    <div
      *ngFor="let track of album.tracks.items; let i = index"
      fxLayout="row"
      fxLayoutAlign="start center"
      class="song-item"
      [ngClass]="{
        highlight: selectedIdx === i && album.tracks.items.length > 1
      }"
    >
      <div class="play-song">
        <button (click)="playSong(track, album)">
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
      <div fxFlex="75" class="song-title">
        {{ track.name }}
      </div>
      <div fxFlex="25" class="song-time">
        {{ track.duration_ms | songTime }}
      </div>
      <div class="song-menu">
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="track_menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="playlists">
            <span>Add To Playlist</span>
          </button>
        </mat-menu>

        <mat-menu #playlists="matMenu">
          <ng-container *ngIf="(custPlaylists$ | async).length > 0">
            <button
              mat-menu-item
              *ngFor="let item of custPlaylists$ | async"
              (click)="addToPlaylist(item, track, album)"
            >
              {{ item.name }}
            </button>
          </ng-container>

          <ng-container *ngIf="(custPlaylists$ | async).length === 0">
            <button mat-menu-item>No Playlist</button>
          </ng-container>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="createPlaylist()">
            Create New Playlist
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-card>
